* { /* ! RESET */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    /* Add your background pattern here */
    background: repeating-radial-gradient(circle, #000, #000 5px, transparent 6px);
    background-size: 30px 30px;
}

article{
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    justify-content: center;
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 0 0 90px black;
    backdrop-filter: blur(2px);
    color: white;
    font-family: sans-serif;
}

#selector{
    height: 10rem;
}

article.off{
    display: none;
}

h1{
    margin: 12px 0;
    color: #ff9100;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.emoji{
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
}

h2,
p{
    text-align: center;
    margin-bottom: .5rem;
}